<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Daily Survey - University of Coimbra Research</title>
    </head>
    <body>
        <%-surveyTemplate%>
    </body>
</html>