<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error!</title>
</head>
    <body>
        <div id="body" style="width: 80%; margin: auto;">
            <div id="header" style="text-align: center;">
                <img src="/uc.pt.png" alt="UC Logo" title="UC Logo" />
                <p style="font-size: 20pt; padding: 10px;"><%=message%></p>
            </div>
        </div>
    </body>
</html>
